.app {
  display: flex;
  flex-direction: row;
}
.todos-completed, .all-todos {
  margin: 0 auto;
  text-align: center;
}

.new-todo {
  margin: 1% 0;
}

.todo-item {
  width: 50%;
  margin: 0 auto;
  padding: 1%;
  cursor: pointer;
}